.hero {
    position: relative;
    padding-top: 120px; /* Ensure space at the top for the navbar */
}

.banner-img {
    width: 100%;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -webkit-mask-image: linear-gradient(to right, transparent, black 75%);
    margin-top: -50px; /* Move the image up */
}

.hero-caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 6%;
}

.hero-caption p {
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
}

.caption-img {
    width: 90%;
    max-width: 420px;
    margin-bottom: 30px;
}

.hero-btns {
    display: flex;
    gap: 10px;
    margin-top: 150px; /* Ensure buttons are further down */
    z-index: 2; /* Ensure buttons are above other elements */
    position: relative;
}

.hero-btns .btn img {
    width: 25px;
}

.hero-btns .btn {
    border: 0;
    outline: 0;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background: white;
    border-radius: 4px;
    cursor: pointer;
}

.hero-btns .btn.dark-btn {
    color: #fff;
    background: #6d6d6eb3;
}

.hero-btns .btn:hover {
    background: #ffffffbf;
}

.more-cards {
    padding-left: 6%;
}

/* Styles for small devices */
@media (max-width: 768px) {
    .hero-caption {
        padding-left: 4%;
        padding-right: 4%;
    }

    .hero-caption p {
        display: none;
    }

    .caption-img {
        display: none;
    }

    .hero-btns {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 180px; /* Adjust top margin to move buttons further down */
        margin-bottom: 30px;
    }

    .hero-btns .btn {
        width: 80%;
        justify-content: center;
        font-size: 12px; /* Smaller font size for buttons */
        padding: 8px 15px; /* Reduced padding for smaller buttons */
    }

    .hero-btns .btn img {
        width: 18px; /* Smaller icons for mobile view */
    }

    .banner-img {
        mask-image: linear-gradient(to right, transparent, black 50%);
        -webkit-mask-image: linear-gradient(to right, transparent, black 50%);
    }

    .more-cards {
        padding-left: 4%;
    }
}
